<div>
  <section>
    <h1>Gestión de materias</h1>
    <button class="button" (click)="registrarMateria()">Registrar materia</button>
  </section>
  <section>
    <div class="card-table-titles">
      <div class="card-title card-title-materia">Materia</div>
      <div class="card-title card-title-botones"></div>
    </div>
    <div class="card-table-items" *ngFor="let materia of materias">
      <div class="card-item card-item-materia">{{materia.nombre}}</div>
      <div class="card-item card-item-botones">
        <button class="button btn-cancelar" (click)="eliminar(materia)">Eliminar materia</button>
      </div>
    </div>
  </section>
</div>
