<div>
  <h1>Cambiar las notas para la materia '{{notasRecibidas.grupo.materia.nombre}}' del estudiante
    '{{estudianteRecibido.nombre}}'</h1>
  <h2>Profesor de la materia: {{notasRecibidas.grupo.profesor.nombre}}</h2>
  <section>
    <form [formGroup]="notas">
      <div>
        <div class="input">
          <label> Nota del primer periodo </label>
          <input type="number" max="10" formControlName="calificacionPrimerPeriodo">
        </div>
        <div class="input">
          <label> Nota del segundo periodo </label>
          <input type="number" max="10" formControlName="calificacionSegundoPeriodo">
        </div>
        <div class="input">
          <label> Nota del tercer periodo </label>
          <input type="number" max="10" formControlName="calificacionTercerPeriodo">
        </div>
      </div>
    </form>
    <button class="button" (click)="guardar()">Guardar notas</button>
    <button class="button btn-cancelar" (click)="cancelar()">Cancelar</button>
  </section>
</div>
