<div>
  <h1 name="tituloRegistro" *ngIf="!estudianteRecibido">Registrar un nuevo estudiante</h1>
  <h1 name="tituloEdicion" *ngIf="!!estudianteRecibido">Editar nombre del estudiante</h1>
  <section>
    <form [formGroup]="estudiante">
      <div name="inputTarjetaIdentidad" *ngIf="!estudianteRecibido">
        <label><span class="required">*</span> Tarjeta de identidad </label>
        <input type="text" maxlength="20" formControlName="tarjetaIdentidad">
      </div>
      <div name="tituloTarjetaIdentidad" *ngIf="!!estudianteRecibido">
        <h2>Tarjeta de identidad: <strong>{{estudianteRecibido.tarjetaIdentidad}}</strong></h2>
      </div>
      <div>
        <label><span class="required">*</span> Nombre </label>
        <input type="text" maxlength="50" formControlName="nombre">
      </div>
    </form>
    <button name="botonGuardar" *ngIf="!estudianteRecibido" (click)="guardar()" [disabled]="estudiante.invalid">Guardar
      estudiante</button>
    <button name="botonActualizar" *ngIf="!!estudianteRecibido" (click)="actualizar()"
      [disabled]="estudiante.invalid">Actualizar nombre estudiante</button>
    <button (click)="cancelar()">Cancelar</button>
  </section>
</div>
