<div>
  <section>
    <h1>Gestión de estudiantes</h1>
    <button (click)="nuevo()">Registrar estudiante</button>
  </section>
  <section>
    <div>
      <div>Tarjeta de identidad del estudiante</div>
      <div>Nombre del estudiante</div>
      <div>Materias, notas y profesores</div>
    </div>
    <div *ngFor="let estudiante of estudiantes">
      <div>{{estudiante.tarjetaIdentidad}}</div>
      <div>{{estudiante.nombre}}</div>
      <div *ngFor="let materia of estudiante.materias">
        <div>Materia: {{materia.grupo.materia.nombre}}</div>
        <div>Profesor: {{materia.grupo.profesor.nombre}}</div>
        <div>Nota primer periodo: {{materia.calificacionPrimerPeriodo}}</div>
        <div>Nota segundo periodo: {{materia.calificacionSegundoPeriodo}}</div>
        <div>Nota tercer periodo: {{materia.calificacionTercerPeriodo}}</div>
        <button (click)="cambiarNotas(materia)">Modificar notas</button>
        <button (click)="removerMateria(materia)">Remover inscripción a materia</button>
      </div>
      <div>
        <button (click)="ingresarAMateria(estudiante)">Ingresar a una materia</button>
      </div>
      <button (click)="cambiarNombre(estudiante)">Cambiar nombre del estudiante</button>
      <button (click)="eliminar(estudiante)">Eliminar estudiante</button>
    </div>
  </section>
</div>
