<div>
  <section>
    <h1>Gestión de profesores</h1>
    <button (click)="registrarProfesor()">Registrar profesor</button>
  </section>
  <section>
    <div>
      <div>Nombre del profesor</div>
      <div>Materias que enseña</div>
    </div>
    <div *ngFor="let profesor of profesores">
      <div>{{profesor.nombre}}</div>
      <div *ngFor="let grupo of profesor.grupos">
        <div>{{grupo.materia.nombre}}</div>
        <button (click)="eliminar(grupo)">Eliminar materia</button>
      </div>
      <button (click)="registrarMateria(profesor)">Agregar materia</button>
      <button (click)="eliminarProfesor(profesor)">Retirar profesor</button>
      <button (click)="cambiarNombre(profesor)">Cambiar nombre del profesor</button>
    </div>
  </section>
</div>
