
.button {
    cursor: pointer;
    margin: 0 1em;
    max-width: 200px;
    border-radius: 4px;
    color: #fff;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 8px #685CB1;
    font-weight: 500;
    justify-self: center;
    background-color: #9381FF;
}

.button:hover {
    background-color: #685CB1;
}
