<div class="container">
  <div class="gestion">
    <h3>Página de gestión escolar</h3>
    <p>Seleccione el proceso a realizar</p>
    <div class="navegacion">
      <div routerLink="/GestionEstudiantes">
        <button class="button">Gestionar estudiantes</button>
      </div>
      <div routerLink="/GestionProfesores">
        <button class="button">Gestionar profesores</button>
      </div>
      <div routerLink="/GestionMaterias">
        <button class="button">Gestionar materias</button>
      </div>
    </div>
  </div>
</div>
